<div class="container mx-auto mt-10">
    <div class="flex flex-col justify-center text-center">
        <p class="bg-gray-200 shadow text-2xl p-6 rounded-lg font-hairline uppercase">Información del Héroe</p>
    </div>
    <mat-card>
        <mat-card-content>
            <ng-container *ngIf="loading; else elseTemplate">
                <div class="flex justify-center mt-6">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <form [formGroup]="formHero">
                    <div class="flex space-x-4">
                        <div class="w-1/4 mt-6">
                            <mat-form-field appearance="fill"
                                            class="w-full ">
                                <mat-label>Id</mat-label>
                                <input matInput
                                       formControlName="id">
                            </mat-form-field>
                        </div>
                        <div class="w-3/4 mt-6">
                            <mat-form-field appearance="fill"
                                            class="w-full">
                                <mat-label>Nombre del Héroe</mat-label>
                                <input matInput
                                       formControlName="name">
                                <mat-hint align="end">{{nameField.value?.length || 0}}/20</mat-hint>
                                <mat-error *ngIf="nameField.invalid"> {{getNameFieldErrors()}} </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </ng-template>





        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button
                    color=""
                    class=""
                    (click)="goBack()">CANCELAR</button>
            <button mat-button
                    color="primary"
                    class=""
                    type="submit"
                    (click)="saveHero()"
                    [disabled]="this.formHero && formHero.invalid">GUARDAR</button>
        </mat-card-actions>
    </mat-card>
</div>
