<div class="container mx-auto mt-10">
    <mat-card class="bg-gray-900 shadow-xl">
        <mat-card-title class="text-gray-300 font-hairline mb-10 uppercase text-md">Sistema de Logs</mat-card-title>
        <mat-card-content>
            <ul>
                <div *ngFor="let message of getMessages()">
                    <li class="text-green-500 text-xs uppercase">
                        {{message}}
                    </li>
                    <mat-divider class="border-b-1 border-gray-700"></mat-divider>
                </div>
            </ul>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button
                    (click)="clearMessage()"
                    class="bg-white text-xs ">BORRAR</button>
        </mat-card-actions>
    </mat-card>
</div>
