<mat-toolbar color=""
             class="bg-gray-900">
   <span class="text-blue-100">{{ title }}</span>
   <div class="flex flex-1 justify-start ml-8 space-between">
      <a class="bg-blue-900 hover:bg-blue-600 border text-xs text-blue-100 uppercase"
         mat-stroked-button
         [routerLink]="['/dashboard']"
         routerLinkActive="active"
         href="#">Dashboard</a>
      <span class="mr-2"></span>
      <a class="bg-blue-900 hover:bg-blue-600 border text-xs text-blue-100 uppercase"
         [routerLink]="['/heroes']"
         routerLinkActive="active"
         mat-stroked-button
         href="#">Heroes</a>

   </div>
   <div class="flex justify-end">
      <!-- contenido al final del toolbar -->
   </div>

</mat-toolbar>
